.container-dash {
    width: 100%;
    height: 600px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: #41642e;
    background-image: linear-gradient(180deg, #41642e 75%, #4e7738 92%, #4e7738 100%);
    background-image: url(/public/img/jumbo.jpg);
}

.img-doc {
    width: 300px;
    height: 200px;
}

.img-doc-lg {
    height: 400px;
    width: 300px;
}

.img-doc img {
    width: 100%;
    height: 100%;
}

.img-doc-lg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}