.container-dash {
    width: 100%;
    height: 600px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: #41642e;
    background-image: linear-gradient(180deg, #41642e 75%, #4e7738 92%, #4e7738 100%);
    background-image: url(/public/img/jumbo.jpg);
}